.h {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.container {
  background-color: white;
}

.box1 {
  background: lavenderblush;
  width: 300px;
  height: 25px;
  transition-duration: 1s;
}

.box1:hover {
  background: white;
  transform: rotate(15deg);
}

.box2 {
  background: white;
  width: 300px;
  height: 25px;
  transition-duration: 1s;
}

.box2:hover {
  background: lavenderblush;
  transform: rotate(45deg);
}

p {
  font-weight: bold;
}

li:nth-child(-n + 3) {
  border: 2px solid purple;
  margin-bottom: 1px;
}

li:nth-child(n+4) {
  border: 2px solid lightseagreen;
  margin-bottom: 1px;
}

li:nth-child(even) {
  background-color: lavenderblush;
}

