h1 {
    color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: aquamarine;
}
h2 {
    color: whitesmoke;
}
h3 {
  color: whitesmoke;
    
}
h4 {
    color: turquoise;
}
h5 {
  color: whitesmoke;
  }
li {background-color: blue;
padding: 1rem}
p {
    color: whitesmoke;
}
body {
    background-color: black;
}
section {color: whitesmoke;
}
img {
     border: dotted;
     border-color: blue;
}
h1:hover {
    background-color:green; 
    
}
h2:hover {
    background-color:palevioletred; 
}
h4 {background-color: goldenrod;
    padding: 1rem}
h4:hover {
    color:blueviolet;
    font-size: 120%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside a {
  text-decoration: none;
}
  aside a:visited {
    color: aquamarine;
}